<div class="header"> <!-- site-wide header -->
    <div class="header-left">
        <a href="/" style="display: flex;">
            <img class="logo icon" src="/img/nadeshiko_logo.png" alt="nadeshiko logo">
            <p class="wordmark">nadeshiko</p>
        </a>
        <a href="/" class="header-button"><img src="/img/home.svg" class="header-icon" alt="House icon">Home</a>
        <a href="#about" class="header-button"><img src="/img/about.svg" class="header-icon" alt="Question mark icon">About</a>
        <a href="#cards" class="header-button"><img src="/img/cards.svg" class="header-icon" alt="Card icon">Cards</a>
    </div>
    <div class="header-right">
        <input type="search" class="searchbar" id="searchbar" placeholder="&#x1F50E;&#xFE0E;  Search for a player...">
    </div>
</div>