<div class="header"> <!-- site-wide header -->
    <div class="header-left">
        <a href="/" style="display: flex;">
            <img class="logo icon" src="/img/nadeshiko_logo.png" alt="nadeshiko logo">
            <div class="wordmark" aria-hidden="true">
              <span style="--delay: 0s">n</span><span style="--delay: 0.05s">a</span><span style="--delay: 0.1s">d</span><span style="--delay: 0.15s">e</span><span style="--delay: 0.2s">s</span><span style="--delay: 0.25s">h</span><span style="--delay: 0.3s">i</span><span style="--delay: 0.35s">k</span><span style="--delay: 0.4s">o</span>
            </div>
        </a>
        <a href="/" class="header-button"><img src="/img/home.svg" class="header-icon" alt=""><span class="header-button-text">Home<span></a>
        <a href="#about" class="header-button"><img src="/img/about.svg" class="header-icon" alt=""><span class="header-button-text">About</span></a>
        <a style="cursor: pointer" class="header-button" onclick="showCardWizard()"><img src="/img/cards.svg" class="header-icon" alt=""><span class="header-button-text">Cards</span></a>
    </div>
    <div class="header-right">
        <span class="searchbar-container">
            <img src="/img/search.svg" class="search-icon" id="search-icon">
            <input type="search" class="searchbar" id="searchbar" placeholder=" Search for a player..."   spellcheck="false" autocomplete="off" autocapitalize="none" autocorrect="off">
        </span>
    </div>
</div>
<script>
document.getElementById('search-icon').addEventListener('click', function() {
  document.getElementById('searchbar').focus();
});

document.getElementById("searchbar").addEventListener("keypress", function(event) { // Check if the user's typing in the search box
    if (event.key === "Enter") { // Did the user press enter?
      event.preventDefault();
      var userInput = this.value.replaceAll(/[^A-Za-z0-9_]/g, ""); // Removes all characters that can't be in a username or UUID
      window.location.href = `/player/${userInput}`; // Redirect to the desired URL
    }
  });

  var wordmark = document.querySelector('.wordmark');
  wordmark.addEventListener('mouseenter', function() {
    if(!wordmark.classList.contains("animate")) {
      wordmark.classList.add('animate');
      setTimeout(function() { wordmark.classList.remove('animate'); }, 1800);
    }
  });
</script>