.frame17-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame17-frame17 {
  gap: 40px;
  width: 975px;
  height: auto;
  display: flex;
  padding: 29px 33px;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}
.frame17-frame14 {
  gap: 343px;
  display: flex;
  align-items: flex-start;
}
.frame17-text {
  color: rgba(255, 137, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text01 {
  color: rgba(255, 137, 0, 1);
}
.frame17-text02 {
  color: rgba(35, 0, 255, 1);
}
.frame17-text03 {
  color: rgba(255, 137, 0, 1);
}
.frame17-text05 {
  color: rgba(136, 136, 136, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-frame16 {
  gap: 40;
  width: 909px;
  display: flex;
  padding: 19px 22px;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.25);
}
.frame17-frame15 {
  gap: 11px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame17-text07 {
  color: rgba(255, 137, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text08 {
  font-weight: 400;
}
.frame17-text09 {
  font-weight: 500;
}
.frame17-text10 {
  color: rgba(255, 137, 0, 1);
}
.frame17-text11 {
  color: rgba(238, 238, 238, 1);
  font-weight: 700;
}
.frame17-frame2 {
  gap: 10px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.frame17-group1 {
  width: 865px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(85, 85, 85, 1);
}
.frame17-rectangle5 {
  top: 0px;
  left: 0px;
  width: 667px;
  height: 20px;
  position: absolute;
  border-radius: 10px;
}
.frame17-text13 {
  top: 1px;
  left: 413px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  z-index: 1;
  position: absolute;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-frame7 {
  gap: 109px;
  display: flex;
  align-items: flex-start;
}
.frame17-text15 {
  color: rgba(187, 187, 187, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text16 {
  color: rgba(187, 187, 187, 1);
  font-weight: 400;
}
.frame17-text17 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.frame17-text18 {
  color: rgba(238, 238, 238, 1);
  font-weight: 700;
}
.frame17-text20 {
  color: rgba(187, 187, 187, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text21 {
  color: rgba(187, 187, 187, 1);
  font-weight: 400;
}
.frame17-text22 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.frame17-text23 {
  color: rgba(238, 238, 238, 1);
  font-weight: 700;
}
.frame17-frame18 {
  gap: 181px;
  display: flex;
  align-items: flex-start;
}
.frame17-frame13 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame17-text25 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text27 {
  color: rgba(187, 187, 187, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text28 {
  color: rgba(187, 187, 187, 1);
  font-weight: 400;
}
.frame17-text29 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.frame17-text31 {
  color: rgba(187, 187, 187, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text32 {
  color: rgba(187, 187, 187, 1);
  font-weight: 400;
}
.frame17-text33 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.frame17-text35 {
  color: rgba(187, 187, 187, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text36 {
  color: rgba(187, 187, 187, 1);
  font-weight: 400;
}
.frame17-text37 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.frame17-text39 {
  color: rgba(187, 187, 187, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text40 {
  color: rgba(187, 187, 187, 1);
  font-weight: 400;
}
.frame17-text41 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.frame17-frame6 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame17-text43 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text45 {
  color: rgba(187, 187, 187, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text46 {
  color: rgba(187, 187, 187, 1);
  font-weight: 400;
}
.frame17-text47 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.frame17-text48 {
  color: rgba(238, 238, 238, 1);
  font-weight: 700;
}
.frame17-text49 {
  color: rgba(9, 124, 0, 1);
}
.frame17-text50 {
  color: rgba(136, 136, 136, 1);
}
.frame17-text51 {
  color: rgba(187, 187, 187, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text52 {
  color: rgba(187, 187, 187, 1);
  font-weight: 400;
}
.frame17-text54 {
  color: rgba(187, 187, 187, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text55 {
  color: rgba(187, 187, 187, 1);
  font-weight: 400;
}
.frame17-text56 {
  color: rgba(255, 255, 255, 1);
}
.frame17-text57 {
  color: rgba(0, 255, 239, 1);
}
.frame17-text58 {
  color: rgba(0, 0, 0, 1);
}
.frame17-text60 {
  color: rgba(187, 187, 187, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-text61 {
  color: rgba(187, 187, 187, 1);
  font-weight: 400;
}
.frame17-text62 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.frame17-text63 {
  color: rgba(238, 238, 238, 1);
  font-weight: 700;
}
.frame17-frame19 {
  gap: 217px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame17-frame8 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame17-frame10 {
  gap: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.frame17-rectangle14 {
  width: 200px;
  height: 49px;
}
.frame17-text65 {
  top: 10px;
  left: 22px;
  color: rgba(255, 255, 255, 1);
  width: 155px;
  height: auto;
  z-index: 1;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-rectangle12 {
  width: 200px;
  height: 49px;
  z-index: 2;
}
.frame17-text67 {
  top: 10px;
  left: 245px;
  color: rgba(255, 255, 255, 1);
  width: 155px;
  height: auto;
  z-index: 3;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame17-frame12 {
  gap: 35px;
  display: flex;
  align-items: flex-end;
}
.frame17-vector {
  width: 22px;
  height: 23px;
}
.frame17-instagram-glyph-black2 {
  width: 24px;
  height: 24px;
}
.frame17-frame11 {
  gap: 6px;
  display: flex;
  align-items: flex-start;
}
.frame17-frame636e0a6918e57475a843f59ficonclydeblack-rgb2 {
  width: 31.66625213623047px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame17-frame21 {
  top: 0px;
  left: 0px;
  width: 31.666316986083984px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame17-discord-logos {
  top: 0px;
  left: 0px;
  width: 31.666316986083984px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame17-discord-logo-large-white {
  top: 0px;
  left: 0px;
  width: 31.666316986083984px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame17-vector1 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 24px;
  position: absolute;
}
.frame17-text69 {
  color: rgba(187, 187, 187, 1);
  height: auto;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
