<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/external/master.js"></script>
    <script src="/external/language.js"></script>
    <script src="/external/gsap.min.js"></script>
    <script src="/external/petals.js"></script>
    <meta name="theme-color" content="#f6adc6">
    <meta property="og:site_name" content="nadeshiko.io">
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='og:image' content='https://nadeshiko.io/img/banner.png' />
    <meta name="twitter:image" content="https://nadeshiko.io/img/banner.png">
    <title>The simple, beautiful Hypixel stats website. | nadeshiko.io</title>
    <meta name="description" content="🌸 View Hypixel stats and generate real-time stat cards – perfect for forum signatures or to show off to friends!">
</head>

<body>
    <div class="background" id="background1" style="background-image: url('/img/games/home.png')"></div>
    <div class="background-filter">
    <header>
      <%- include('partials/header') %>
    </header>
    <div class="everythingcenter">
        <div class="home-page-container">
            <span class="flex-two-item-vertical" style="margin: 30px;">
                <span class="subtitle-home">Check out stats for</span>
                <span class="title-home typing" id="typing">Hypixel</span>
            </span>
            <section class="player-card-home">
                <div class="flex-two-item">
                  <span class="searchbar-container searchbar-home">
                    <img src="/img/svg/search.svg" class="search-icon bigicon" id="search-icon2">
                    <input type="search" class="searchbar" id="searchbar2" placeholder=" Enter a Minecraft username or UUID..." style="font-size: 16px; flex: 1; padding: 7px 0px;" spellcheck="false" autocomplete="off" autocapitalize="none" autocorrect="off">
                  </span>
                    <span class="general-button noresize-button" onclick="showMe()">Show me</span>
                </div>
            </section>
        </div>
        <div id="recent-searches">
          <span id="recent-search-label">Recent Searches</span>
        </div>
      <div class="in-development" style="text-align: center;">
          <span style="padding: 20px;">⚠️ <b>It's not a bug – nadeshiko's actively being developed!</b><br><br>Some things here aren't complete yet, but check our <a href="https://github.com/NadeshikoStats/" target="_blank" style="color: var(--nadeshiko)">GitHub</a> to watch the site grow!</span>
        </div>
        <% if(typeof computationError !== 'undefined') { %>
          <div class="home-error-container">
            <p class="home-error-message">ERROR</p>
          <p class="home-error">
          <%= computationError %>
          </p>
        </div>
        <% } %>
        <noscript>
          <div class="home-error-container">
            <p class="home-error-message">ERROR</p>
          <p class="home-error">
            Please enable JavaScript to use this site.
          </p>
        </div>
      </noscript>
    </div>
    <div id="petals"></div>
    <div id="petals2"></div>
<footer>
  <%- include('partials/footer') %>
</footer>
</div>



<script>
document.getElementById("searchbar2").addEventListener("keypress", function(event) { // Check if the user's typing in the search box
    if (event.key === "Enter") { // Did the user press enter?
        event.preventDefault();
        var userInput = this.value.replaceAll(/[^A-Za-z0-9_]/g, ""); // Removes all characters that can't be in a username or UUID
        if(userInput.length == 0) return;
        window.location.href = `/player/${userInput}`; // Redirect to the desired URL
    }
});

document.getElementById('search-icon2').addEventListener('click', function() {
  document.getElementById('searchbar2').focus();
});

function showMe() {
    var userInput = document.getElementById("searchbar2").value.replaceAll(/[^A-Za-z0-9_]/g, ""); // Removes all characters that can't be in a username or UUID
    if(userInput != "") window.location.href = `/player/${userInput}`; // Redirect to the desired URL
    else console.log(userInput)
}

function redirectToHttps() { // If the user's on the HTTP version of nadeshiko, switch to HTTPS
  windowLocation = window.location;

  if(windowLocation.protocol == "http:" && windowLocation.host != "localhost:8080") { // If the user's using HTTP (and it's not localhost)
      window.location = "https://nadeshiko.io" + windowLocation.pathname + windowLocation.search;
  }
}

redirectToHttps();

let index = 0;
let charIndex = 0;
let direction = 1;

var texts = ["Arcade", "Arena Brawl", "Bed Wars", "Blitz", "Build Battle", "Cops and Crims", "Duels", "Mega Walls", "Murder Mystery", "Paintball", "Pit", "Quakecraft", "SkyWars", "Smash Heroes", "Speed UHC", "TNT Games", "The Walls", "Turbo Kart Racers", "UHC", "VampireZ", "Warlords", "Wool Wars"];

for (let i = texts.length - 1; i > 0; i--) { // Shuffles array
        let j = Math.floor(Math.random() * (i + 1));
        [texts[i], texts[j]] = [texts[j], texts[i]];
}

texts.unshift("Hypixel");

function type() { // Writes typing

  let currentText = texts[index];
  
  if (direction) { // Forward
    charIndex++;
    if (charIndex > currentText.length) {
      direction = false;
      setTimeout(type, 1500);
      return;
    }
  } else { // Deleting backward
    charIndex--;
    if (charIndex === -1) {
      direction = true;
      index = (index + 1) % texts.length; // Loop through texts
      setTimeout(type, 500);
      return;
    }
  }

  document.getElementById('typing').textContent = currentText.substring(0, charIndex); // Update text in HTML

  let speed = direction ? 150 : 70;
  setTimeout(type, speed);
}

type(); // Start typing effect
if(document.documentElement.clientWidth >= 800) {
  document.getElementById('searchbar2').focus();
  document.getElementById('searchbar2').select();
}


  recentSearches = JSON.parse(localStorage.getItem("recent-searches"));
if(recentSearches != null) {
  document.getElementById("recent-search-label").style.display = "initial";
  for(let a = 0; a < recentSearches.length; a++) {
    recentSearchItem = `<a href="/player/${recentSearches[a][0]}" class="m${recentSearches[a][1]}">${recentSearches[a][0]}</a>`
    document.getElementById("recent-searches").insertAdjacentHTML("beforeend", recentSearchItem);
  }
}
</script>

</body>
</html>