<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">

  <meta name="theme-color" content="#f6adc6">
  <meta property="og:site_name" content="nadeshiko.io">
  <meta name="description" content="🥇 Check out the top players in over one hundred categories using nadeshiko's leaderboards!">
  <title>Leaderboards | nadeshiko.io</title>

  <script>
    let tasksBeforeLoading = ["fetchLanguageFile", "DOMContentLoaded"];

    /* Begin generation of the page if all tasks are completed. If not, remove the task from the list of tasks to complete.
    * This is used to ensure that all tasks are completed before the page is generated.
    * @param {string} task - The task that was completed 
    */
    function beginGeneration(task) {
      if(tasksBeforeLoading.includes(task)) {
        tasksBeforeLoading.splice(tasksBeforeLoading.indexOf(task), 1);
      }

      console.log(`Task ${task} completed; remaining tasks: ${tasksBeforeLoading}`);

      if(tasksBeforeLoading.length == 0) {
        updateTranslations();
      }
    } 
  </script>
  <script src="/external/master.js"></script>
  <script src="/external/language.js"></script>
  <script src="/external/purify.min.js"></script>
  <script src="/external/minecrafttext.js"></script>
</head>

<body>
  <div class="background" id="background" style="background-image: url('/img/games/leaderboards/lobby.webp')"></div>
  <div class="background-filter"></div>

  <div class="nadeshiko-wrapper">
    <header>
      <%- include('partials/header') %>
    </header>

    <div class="guild" id="guild">
      <div class="flex-guild">
        <div class="flex-guild-list">
          <div class="guild-header">
            <div class="name"><span id="guild-name"></span> <span id="guild-tag"></span></div>
            
            <div class="description" id="guild-description"></div>

            <p><span data-t="statistics.created">Created</span> <span class="tooltip"><span class="statistic" id="guild-created-ago"><span class="mc">Unknown</span></span><span class="tooltiptext" id="guild-created-ago-full"></span></span></p>
            <p><span data-t="statistics.members">Members</span> <span class="statistic" id="guild-members"><span class="mc">Unknown</span></span></p>
            <p><span data-t="statistics.level">Level</span> <span class="statistic" id="guild-level"><span class="mc">Unknown</span></span></p>
            </div>

            <div class="list guild-players" id="guild-players">
              <div class="row header-row">
                <div class="row-header">
                  <div class="column"></div>
                  <div class="column headercolumn" onclick="sortData('name')"><span data-t="statistics.player" id="header-name" class="deactivated">Player</span> <img class="verytinyicon deactivated" id="header-name-icon" src="/img/svg/sort.svg"></div>
                  <div class="column headercolumn" onclick="sortData('priority')"><span data-t="statistics.rank" id="header-priority" class="deactivated">Rank</span> <img class="verytinyicon deactivated" id="header-priority-icon" src="/img/svg/sort.svg"></div>       
                  <div class="column headercolumn" onclick="sortData('joined')"><span data-t="statistics.joined" id="header-joined" class="deactivated">Joined</span> <img class="verytinyicon deactivated" id="header-joined-icon" src="/img/svg/sort.svg"></div>
                
                  <div class="column" data-i="expandable"></div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <footer>
      <%- include('partials/footer') %>
    </footer>
  </div>

  <script>
    document.documentElement.style.setProperty('--accent', getComputedStyle(document.documentElement).getPropertyValue('--accent-leaderboards'));
    generateGeneralGuildStats();
  </script>
</body>
</html>