#skyblock-page {
  display: flex;
  align-items: center;
}

.skyblock-profile {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex: 1 1 auto;
  width: 100%;
  transition-duration: var(--transition-large);
}

.skill, .skill-container {
  width: 100%;
}

.skill, .skill .progress-number {
  font-size: 14px;
}

.skill-container .progress-bar {
  margin-inline-start: 0; /* Lines up the progress bar with the skill name */
  margin-top: 5px;
  margin-bottom: 10px;
  margin-inline-end: 0;
}

.skill-container .progress-bar, .skill-container .progress {
  height: 12px;
}

.skill:first-child {
  margin-inline-end: 20px;
}

.basic-player-info {
  font-size: 14px;
  margin: 10px auto;
}

.skill.tooltip > :not(:last-child), .skyblock-level-container > :not(:last-child) { /* Tooltips need to be adjusted slightly */
  text-decoration: none;
}

.skyblock-level-container {
  width: 100%;
}

.skyblock-base-container {
  width: calc(min(60%, 800px) + 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skyblock-box {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--default);
  width: 100%;
  margin: 6px auto;
}

.armor-equipment {
  display: flex;
  margin-top: 10px;
  overflow-x: scroll;
}

.equipment, .wardrobe {
  background-color: var(--default);
  border-radius: 15px;
  padding: 15px;
}

.equipment {
  margin-inline-end: 10px;
}

.equipment-grid {
  display: grid;
  grid-template-columns: repeat(2, 60px);
  grid-template-rows: repeat(4, 60px);
  gap: 5px;
  width: 100%;
  margin: 10px auto;
  grid-auto-flow: column;
}

.wardrobe-grid {
  display: grid;
  grid-template-columns: repeat(14, 60px);
  grid-template-rows: repeat(4, 60px);
  gap: 5px;
  width: 100%;
  margin: 10px auto;
  grid-auto-flow: column;
}

.ae-item {
  width: 60px;
  height: 60px;
  border-radius: 10px;

  background-color: #fff8;
  cursor: pointer;
}

.ae-item.recombobulated:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  display: block;
  position: relative;
  top: 6px;
  left: 6px;
  content: "";
}

.ae-item.rarity-divine {
  background-color: #5ff;
}

.ae-item.rarity-mythic {
  background-color: #f5f;
}

.ae-item.rarity-legendary {
  background-color: #fa0;
}

.ae-item.rarity-epic {
  background-color: #a0a;
}

.ae-item.rarity-rare {
  background-color: #55f;
}

.ae-item.rarity-uncommon {
  background-color: #5f5;
}

.ae-item.rarity-common {
  background-color: #fff;
}

.ae-item.rarity-very-special {
  background-color: #f55;
}

.ae-item.rarity-special {
  background-color: #f55;
}

.ae-item.rarity-admin {
  background-color: #a00;
}

@media (max-width: 800px) {
  .skyblock-base-container, .skyblock-profile .player-card {
    width: 92%;
  }
}

.scroller {
  overflow-y: scroll;
  height: 100%;
}

#item-tooltip {
  opacity: 1;
  transform: translateY(0);

  position: fixed;

  min-width: 360px;
  width: max-content;
  max-width: min(500px, 100vw - 40px);

  background-color: #0f0f0fea;

  margin: 10px;
  border-radius: 30px;

  overflow: hidden; 

  transition: opacity var(--transition-small), transform var(--transition-small);

  outline: 1px solid #5ff;
  box-shadow: 0 0 10px #5ff;

  pointer-events: auto;
  z-index: 9;
}

#item-tooltip-name-background {
  background-color: #123456;
  padding: 15px 0;
}

#item-tooltip-name {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  margin: auto 20px;
}

#item-tooltip-lore {
  padding: 20px;
}

#item-tooltip.unloaded {
  opacity: 0;
  transform: translateY(-25px);

  pointer-events: none;
}

#item-tooltip-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--header-height) - var(--header2-height));
  top: calc(var(--header-height) + var(--header2-height));
  background-color: #0005;
  z-index: 6;
  backdrop-filter: blur(5px);
  clip-path: circle(calc((100vh + 100vh) * 1.42) at 100% 0);
  transition-duration: var(--transition-small);

  pointer-events: all;
}

#item-tooltip-modal.unloaded {
  opacity: 0;
  clip-path: circle(0% at 100% 0);
  pointer-events: none;
}