:root {
    --nadeshiko: #F6ADC6;
    --nadeshiko-dark: #872d4d;
    --pale-grey: #ffffff80;
    --gold: #e99a3f;
    --gold-transparent: #e99a3f90;
    --accent: var(--nadeshiko-dark);
    --accent-network: #bc6ff8;
    --accent-bedwars: #ff835c;
    --accent-duels: #6f85f8;
    --accent-skywars: #90ff5c;
    --grey: #888;
    --mc0: #000000;
    /* Black */
    --mc1: #0000AA;
    /* Dark Blue */
    --mc2: #00AA00;
    /* Dark Green */
    --mc3: #00AAAA;
    /* Dark Aqua */
    --mc4: #AA0000;
    /* Dark Red */
    --mc5: #AA00AA;
    /* Dark Purple */
    --mc6: #FFAA00;
    /* Gold */
    --mc7: #AAAAAA;
    /* Gray */
    --mc8: #555555;
    /* Dark Gray */
    --mc9: #5555FF;
    /* Blue */
    --mca: #55FF55;
    /* Green */
    --mcb: #55FFFF;
    /* Aqua */
    --mcc: #FF5555;
    /* Red */
    --mcd: #FF55FF;
    /* Light Purple */
    --mce: #FFFF55;
    /* Yellow */
    --mcf: #FFFFFF;
    /* White */
}

/* Media style to apply smaller font size */

@media (max-width: 800px) {
    html {
        font-size: 14px;
    }
}

/* Stats */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000cc;
    font-size: 18px;
    position: relative;
    backdrop-filter: blur(6px);
}

header {
    position: relative;
    z-index: 3;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left a {
    margin-right: 15px;
    text-decoration: none;
}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000a0;
    font-size: 18px;
    backdrop-filter: blur(4px);
    overflow: hidden;
}

/* what is she cooking? nothing good */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Roboto", sans-serif;
    color: var(--pale-grey);
    height: 100vh;
    position: relative;
    z-index: -6;
}

.player-card {
    margin: 20px;
    padding: 10px;
}

.games {
    position: relative;
    flex-grow: 1;
    transition-duration: 0.5s;
}

header {
    flex: 0 1 auto;
}

footer {
    flex-shrink: 0;
    padding: 10px;
}

footer>a {
    all: unset;
    color: var(--nadeshiko);
    text-decoration: underline;
    transition-duration: 0.3s;
}

footer>a:hover {
    color: #ffffff;
    cursor: pointer;
}

.logo {
    height: 25px;
    width: 23.5px;
    margin-left: 10px;
    margin-right: 5px;
}

.wordmark {
    color: white;
    padding-left: 5px;
    padding-right: 15px;
    font-weight: bold;
}

.header-button {
    transition-duration: 0.3s;
    background-color: #222;
    border-radius: 99px;
    padding: 7px;
    padding-left: 16px;
    padding-right: 16px;
    color: var(--pale-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    font-size: 14px;
}

.header-button:hover {
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--nadeshiko-dark);
}

.header-game {
    margin-right: 30px;
    margin-left: 30px;
    color: var(--pale-grey);
    font-weight: 500;
    position: relative;
    transition-duration: 0.5s;
}

.header-game:before {
    content: '';
    position: absolute;
    height: 300%;
    width: 150%;
    right: -25%;
    bottom: -100%;
}

.header-game:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(16.5px);
    opacity: 0;
    width: 120%;
    height: 5px;
    background-color: var(--accent);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition-duration: 0.5s;
}

.header-name {
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    transition-duration: 1s;
}

.header-down {
    margin-right: 20px;
    color: #fff8;
}

.header-game, .header-down, .special {
    transition-duration: 0.3s;
}

.special {
    width: 25px;
    height: 25px;
}

.header-game:hover,
.header-down:hover {
    color: #fff;
    cursor: pointer;
}

.header-icon {
    height: 18px;
    width: 18px;
    opacity: 0.5;
    margin-right: 5px;
}

.background {
    background-image: url(/img/games/network/lobby.png);
    background-size: cover;
    background-position: center top;
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
    transition-duration: 0.5s;
    transition: opacity 0.5s ease-in-out;
}

.background-filter {
    z-index: -1;
    backdrop-filter: blur(8px) brightness(0.45);
    -webkit-backdrop-filter: blur(8px) brightness(0.45);
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
}

.nadeshiko-wrapper {
    z-index: -1;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.flex-two-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-two-item-basic {
    display: flex;
    align-items: center;
}

.align-top {
    align-items: flex-start;
}

.mright {
    margin-right: 10px;
}

.mleft {
    margin-left: 10px;
}

.mbottom {
    margin-bottom: 10px;
}

.linear-gradient {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
}

.searchbar {
    all: unset;
    font-size: 14px;
    position: relative;
    right: 0px;
}

.search-icon {
    height: 24px;
    width: 24px;
    margin-right: 5px;
    opacity: 50%;
    cursor: pointer;
}

.searchbar-container {
    display: flex;
    font-size: 14px;
    background-color: #222;
    color: white;
    transition-duration: 0.3s;
    position: relative;
    width: 300px;
    right: 0px;
    border-radius: 15px;
    padding: 4px;
    padding-left: 15px;
    margin-right: 9px;
}

#level-container-container {
    margin: 10px;
}

.dropdown-arrow {
    height: 24px;
    width: 24px;
    opacity: 0.5;
    transition-duration: 0.5s;
}

.dropdown-arrow:hover {
    opacity: 1;
}

#social-media-button {
    position: relative;
    display: none;
}

.social-media-logo, #sociallink-discord {
    height: 24px;
    opacity: 0.5;
    transition-duration: 0.3s;
    cursor: pointer;
}

.social-media-discord, #sociallink-discord {
    height: 24px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.social-media-dropdown {
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    transition-duration: 0.3s;
}

.logo-container {
    width: 24px;
    height: 24px;
    vertical-align: middle; 
    margin-right: 5px;
}

#social-discord-username {
    color: white;
}

.social-media-logo:hover {
    opacity: 1;
}

#sociallink-discord:hover {
    opacity: 1;
}

.searchbar-container:focus-within {
    outline: none;
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.2);
    position: relative;
    width: 325px;
    background-color: var(--nadeshiko-dark);
}

.player-card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: min(60%, 800px);
}

.extended-card {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin10 {
    margin: 10px;
}

.margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex: 1 1 auto;

    position: absolute;
    height: 100%;
    width: 100%;
    transition-duration: 1s;
}

.quick-mode {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex: 1 1 auto;
    position: absolute;
    width: 100%;
    transition-duration: 0.5s;
    bottom: 10%;
    z-index: -3;
}

.flex-quick-mode {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-mode-game {
    height: 48px;
    width: 48px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin-left: 8px;
    margin-right: 8px;
    opacity: 30%;
}

.tooltip:nth-child(even) > .quick-mode-game:hover {
    transform: rotate(10deg) scale(1.2);    
    opacity: 100%;
}

.tooltip:nth-child(odd) > .quick-mode-game:hover {
    transform: rotate(-10deg) scale(1.2);  
    opacity: 100%;  
}
 

#flex-container-network {
    align-items: center;
}


#flex-container-bedwars {
    mask:
    linear-gradient(to top,  transparent 5%, black 95%, transparent 100%),
    linear-gradient(to bottom, transparent 5%, black 95%, transparent 100%);
}

.flex-item {
    flex: 1;
}

.player-info {
    display: flex;
    flex-wrap: wrap;
}

.general-stats>p {
    margin: 10px;
}

.super-subtitle {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.login-information {
    margin-bottom: 20px;
}

.details {
    flex: 1;
    padding: 10px;
}

.pushup {
    transform: translateY(-300px);
}

.pushdown {
    transform: translateY(300px);
}

.progress-bar {
    background-color: #555;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.progress-number {
    color: #fff;
    font-size: 15px;
    margin-left: auto;
    position: absolute;
    font-weight: 700;
    display: flex; 
    justify-content: center;
    align-content: center;
    width: 100%;
}

.progress {
    background-color: var(--accent);
    height: 20px;
    border-radius: 15px;
    transition-duration: 0.5s;
}

.stat-title {
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.statistic {
    font-weight: 500;
    color: white;
}

.icon {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.medium {
    height: 26px;
    width: 26px;
}

.smallicon {
    height: 25px;
}

.tinyicon {
    height: 16px;
    transform: translateY(15%);
}

#birthday {
    display: none;
}

.unloaded {
    pointer-events: none;
}

.header-name.unloaded {
    opacity: 0;
}

.flex-container.unloaded, .avatar.unloaded, .special.unloaded {
    opacity: 0;
    transform: scale(0.8);
    filter: brightness(0.2);
}

.dropdown-content.unloaded {
    opacity: 0;
    transform: translateY(-25px);
}

/* Dropdowns! (because the native ones are so uncustomizable!!) */

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: #000000d8;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    transition-duration: 0.5s;
    left: 0;
    bottom: 100%;
    top: auto;
}

.dropdown-content a {
    border-radius: 10px;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-duration: 0.5s;
    cursor: pointer;
    font-weight: 500;
}

.dropdown-content a:hover {
    background-color: var(--accent);
    color: black;
}

.dropdown-content a:hover img {
    filter: brightness(0);
    opacity: 1;
}

.dropdown-content a img {
    vertical-align: middle;
    margin-right: 8px;
    flex-shrink: 0;
}

@font-face {
    font-family: Inter;
    src: url(/font/Inter-Bold.ttf);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url(/font/Inter-Regular.ttf);
    font-weight: regular;
    font-display: swap;
}

@font-face {
    font-family: Albert Sans;
    src: url(/font/AlbertSans-Regular.ttf);
    font-weight: regular;
    font-display: swap;
}

@font-face {
    font-family: Albert Sans;
    src: url(/font/AlbertSans-Bold.ttf);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url(/font/Inter-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url(/font/Inter-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}

.avatar {
    cursor: grab;
    background-color: transparent;
    transition-duration: 0.5s;
}

.socials-buttons {
    margin-top: 20px;
    margin-bottom: 5px;
}

.player-name {
    font-weight: 600;
    font-size: 22px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#network-error {
    margin: 10px;
}

.title-text {
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.subtitle-text {
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.general-button {
    background-color: #333;
    color: white;
    border-radius: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    transition-duration: 0.3s;
    min-width: max-content;
    display: inline-block;
}

.general-button:hover {
    background-color: var(--accent);
    color: #222;
    cursor: pointer;
}

.shiiyu {
    height: 15px;
    width: 15px;
    transition-duration: 0.5s;
    margin-right: 8px;
    position: relative;
    top: 1px;
}

.general-button:hover .shiiyu {
    filter: invert(0.875)
}

/* Rank backgrounds */
.rank {
    border-radius: 99px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    min-width: max-content;
}

.rank-6 {
    background: linear-gradient(193deg, #FFAA00 0%, #c08000 100%);
}

.rank-b {
    background: linear-gradient(193deg, rgb(51, 200, 200) 0%, #189b9b 100%);
}

.rank-a {
    background: linear-gradient(193deg, #5f5 0%, #2cc82c 100%);
}

.rank-2 {
    background: linear-gradient(193deg, #0a0 0%, #006b00 100%);
}

.rank-c {
    background: linear-gradient(193deg, #f55 0%, #b82a2a 100%);
}

.rank-d {
    background: linear-gradient(193deg, #f5f 0%, rgb(217, 53, 217) 100%);
}

#card-name {
    margin-left: 6px;
    margin-right: 6px;
}

/* Tooltips */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #000000d0;
    color: #fff;
    font-weight: 500;
    text-align: center;
    border-radius: 20px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
    font-size: 15px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.dashed-underline {
    border-bottom: 1px dotted #fff8;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000000d0 transparent transparent transparent;
}

#online-status {
    text-align: right;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.highlighted {
    color: white;
}

.highlighted::after {
    transform: translateX(-50%) translateY(16.5px);
    opacity: 1;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}

.w900 {
    font-weight: 900;
}

.m0 {
    color: #000;
}

.m1 {
    color: #00a;
}

.m2 {
    color: #0a0;
}

.m3 {
    color: #0aa;
}

.m4 {
    color: #a00;
}

.m5 {
    color: #a0a;
}

.m6 {
    color: #fa0;
}

.m7 {
    color: #aaa;
}

.m8 {
    color: #555;
}

.m9 {
    color: #55f;
}

.ma {
    color: #5f5;
}

.mb {
    color: #5ff;
}

.mc {
    color: #f55;
}

.md {
    color: #f5f;
}

.me {
    color: #ff5;
}

.mf {
    color: #fff;
}

.o30 {
    opacity: 30%;
}

.hidden {
    opacity: 0;
}


/* Home Page */

.home-page-container {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: min(100%, 800px);
    text-align: center;

    margin-top: 30px;
}

.player-card-home {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 10px;
}

.title-home {
    font-size: 32px;
    color: white;
    font-weight: 600;
}

.subtitle-home {
    font-size: 17px;
    color: #fffa;
    margin-top: 10px;
    margin-bottom: 10px;
}

.everythingcenter {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.searchbar-home {
    width: unset !important;
    flex-grow: 1;
    text-align: left;
    font-size: 16px;
    border-radius: 30px;
    align-items: center;
}

.flex-two-item-vertical {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.home-error-container {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding-left: 0px;
    margin: 10px;
    color: white;
    height: 70px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.in-development {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding-left: 0px;
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-error-message {
    font-weight: bold;
    background-color: #c9486a;
    height: 70px;
    padding: 8px;
    margin-right: 8px;
    border-radius: 25px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-error {
    opacity: 0.9;
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.typing {
    white-space: nowrap;
    border-right: 2px solid;
    animation: blink 0.75s step-end infinite;
    min-height: 40px;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.petal {
    width: 25px;
    height: 25px;
    position: absolute;
    background: url(/img/petal.png);
    background-size: 100% 100%;
}

#petals {
    position: absolute;
    pointer-events: none;
    z-index: -4;
    width: 100%;
    height: 100%;
}

#petals2 {
    position: absolute;
    pointer-events: none;
    z-index: 3;
    width: 100%;
    height: 100%;
}

/* Cards */

.chip-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 5%, black 95%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 5%, black 95%, transparent);
    padding-top: 30px;
    padding-bottom: 30px;

    padding-left: 12%;
    padding-right: 12%;
}

.chip-small:first-child {
    margin-top: 20px;
}

.card-big-stats {
    flex: 60%;
}

.card-big-misc {
    flex: 40%;
}

.chip-container > .chip-small {
    flex: 40%;
    width: 100%;
}

.chip-container > .but-big {
    flex: 75%;
    width: 100%;
}

.chip-small {
    position: relative;
    background-size: cover;
    background-position: center top;
    
    border-radius: 20px;
    padding: 20px;

    width: 40%;
    margin: 15px;
    z-index: -2;
}

.but-big {
    background-color: #0008;
}

.chip-small-background-filter {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px) brightness(0.3);
    -webkit-backdrop-filter: blur(3px) brightness(0.3);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: -1;
}

.chip-small-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    color: white;

    margin-left: 10px;
    margin-right: 8px;
}

.chip-small-subtitle {
    font-size: 16px;
    position: relative;
    z-index: 2;
    margin-left: 10px;
}

.chip-small-container {
    position: relative;
    z-index: 2;
    background-color: #000c;
    padding: 20px;
    border-radius: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.chip-small-statistic-row {
    display: flex;
    flex-direction: row;

    margin-top: 12px;
    margin-bottom: 12px;
}

.chip-small-statistic-row > p {
    flex: 1;
    margin-right: 3px;
}

.chip-small-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chip-small-dropdown select {
    all: unset;
    width: calc(100% - 25px);
    padding: 5px;
    padding-left: 20px;
    border: 1px solid #6b6b6b74;
    border-radius: 100px;
    background-color: #0008;
    color: white;
  }

  .chip-small-dropdown option {
    all: unset;
    background-color: #0008;
    border: none;
    height: 10px;
  }
  
  .chip-small-dropdown {
    width: min(100%, 200px);
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  .chip-small-dropdown:after {
    content: '\25BC';
    color: white;
    position: absolute;
    right: 13px;
    top: 8px;
    font-size: 12px;
    pointer-events: none;
  }

  .chip-icon {
    margin-left: 5px;
  }

/* Modals */

.modal {
    background-color: #000c;
    opacity: 0;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition-duration: 0.5s;
    pointer-events: none;
    display: flex;
    align-items: center;
    align-content: center;
  }
  
  .modal-content {
    background-color: #181818d9;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
  }

  #modal-card-wizard-close {
    color: red;
    font-weight: 700;
    float: right;
    cursor: pointer;
    font-size: 18px;
  }

  #card-wizard-name {
    all: unset;
    background-color: #0008;
    padding: 5px;
    margin: 5px 0;
    color: white;
    border-radius: 15px;
    border: 1px solid #6b6b6b74;
  }

  .card-wizard-info {
    background-color: #0008;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .card-wizard-output {
    font-family: "Roboto Mono", ui-monospace, Menlo, "Cascadia Mono", "Segoe UI Mono", "Fira Mono", "Droid Sans Mono", monospace;;
    border: 1px dashed rgb(196, 196, 196);
    background-color: #505050;
    padding: 5px;
    font-size: 16px;
    color: white;
    width: 90%;
  }

/* Scrollbar CSS */

  * {
    scrollbar-width: auto;
    scrollbar-color: var(--accent) transparent;
  }

 /* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent); 
    border-radius: 99px;
  }

/* Media styles */

  @media (max-width: 800px) {
    .avatar {
        display: none;
    }
    .player-card {
        width: unset;
    }
    .player-info {
        flex-direction: column;
    }
    .header-button-text {
        display: none;
    }
    .header-icon {
        margin: 0;
    }
    .header-left a {
        margin-right: 5px;
    }
    .searchbar-container, .searchbar-container:focus-within, .searchbar:focus, .searchbar {
        width: 100%;
    }
    .header-game {
        display: none;
    }
    .chip-container > .chip-small {
        flex: 60%;
    }
    .chip-container {
        padding-left: 6%;
        padding-right: 6%;
    }
    .flippable {
        flex-direction: column;
    }
    .card-big-misc {
        margin-top: 30px;
    }
    #social-media {
        display: none;
    }
    #social-media-button {
        display: flex;
    }
    #social-media-alternative {
        display: initial;
        contain: content size;
    }
    #player-card {
        overflow-y: scroll;
        overflow-x: clip;
    }
    .unless-tiny {
        display: initial;
    }
    #flex-container-network {
        align-items: initial;
    }
    .general-button {
        margin-top: 10px;
    }
    .buttons {
        justify-content: space-around;
    }
    .wordmark {
        display: none;
    }
}